numpy==1.22.0
torch
scipy
librosa
audonnx
numba
tkinter
openai
googletrans==4.0.0rc1

unidecode
openjtalk>=0.3.0.dev2
jamo
pypinyin
jieba
protobuf
cn2an
inflect
eng_to_ipa
ko_pron
indic_transliteration
num_thai
opencc